In [93]:
import pandas as pd
log1 = pd.read_csv("ebola_2014_2016_clean.csv")

log2 = pd.read_csv("ebola_data_db_format.csv")
print(log2)
log2

                                               Indicator  \
0      Cumulative number of confirmed, probable and s...
1             Cumulative number of confirmed Ebola cases
2              Cumulative number of probable Ebola cases
3             Cumulative number of suspected Ebola cases
4      Cumulative number of confirmed, probable and s...
...                                                  ...
17580  Cumulative number of confirmed, probable and s...
17581        Cumulative number of confirmed Ebola deaths
17582         Cumulative number of probable Ebola deaths
17583        Cumulative number of suspected Ebola deaths
17584  Cumulative number of confirmed, probable and s...

                        Country        Date   value
0                        Guinea  2015-03-10  3285.0
1                        Guinea  2015-03-10  2871.0
2                        Guinea  2015-03-10   392.0
3                        Guinea  2015-03-10    22.0
4                        Guinea  2015-03-10  2170.0
...                         ...         ...     ...
17580                     Spain  2016-03-23     0.0
17581  United States of America  2016-03-23     1.0
17582  United States of America  2016-03-23     0.0
17583  United States of America  2016-03-23     0.0
17584  United States of America  2016-03-23     1.0

[17585 rows x 4 columns]

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0
...,...,...,...,...
17580,"Cumulative number of confirmed, probable and s...",Spain,2016-03-23,0.0
17581,Cumulative number of confirmed Ebola deaths,United States of America,2016-03-23,1.0
17582,Cumulative number of probable Ebola deaths,United States of America,2016-03-23,0.0
17583,Cumulative number of suspected Ebola deaths,United States of America,2016-03-23,0.0
17584,"Cumulative number of confirmed, probable and s...",United States of America,2016-03-23,1.0

In [94]:
from sqlalchemy import Column, Integer, String, Date, Text, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
Base = declarative_base()

from sqlalchemy import create_engine

db_string = "postgres://postgres:1111aaaa@localhost:5432/AdvancedDatabases_lab4+5"

engine = create_engine(db_string)

In [95]:
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Sequence, CheckConstraint, UniqueConstraint, Date, DateTime

class Country(Base):
    __tablename__ = 'countries'
    __table_args__ = (
        CheckConstraint('LENGTH(country) > 0'),
        {'extend_existing' : True},
    )
    id = Column(Integer, primary_key = True)
    country = Column(String(50), nullable = False)

class Indicator(Base):
    __tablename__ = 'indicators'
    __table_args__ = (
        CheckConstraint('LENGTH(indicator) > 0'),
        {'extend_existing' : True},
    )
    id = Column(Integer, primary_key = True)
    indicator = Column(String(150), nullable=False)

class Date(Base):
    __tablename__ = 'dates'
    __table_args__ =  {'extend_existing' : True}
    id = Column(Integer, primary_key = True)
    date = Column(DateTime, nullable=False)
    
Base.metadata.create_all(engine)

In [96]:
class MainTable(Base):
    __tablename__ = 'maindata'
    __table_args__ = (
        CheckConstraint('value>=0'),
        {'extend_existing' : True},
    )
    id = Column(Integer, primary_key = True)
    indicator_id = Column(Integer,ForeignKey(Indicator.id))
    country_id = Column(Integer, ForeignKey(Country.id))
    date_id = Column(Integer, ForeignKey(Date.id))
    value = Column(Integer)
    
Base.metadata.create_all(engine)

In [97]:
all_indicators = log2['Indicator'].unique()
all_countries = log2['Country'].unique()
all_dates = log2['Date'].unique()

indicators_dict = dict()
for i in range(len(all_indicators)):
    indicators_dict[all_indicators[i]] = i
    
countries_dict = dict()
for i in range(len(all_countries)):
    countries_dict[all_countries[i]] = i
    
dates_dict = dict()
for i in range(len(all_dates)):
    dates_dict[all_dates[i]] = i
    
map_indicators = log2['Indicator'].map(indicators_dict)
log2['Indicator'] = map_indicators

map_countries = log2['Country'].map(countries_dict)
log2['Country'] = map_countries

map_date = log2['Date'].map(dates_dict)
log2['Date'] = map_date

indicator_list = pd.DataFrame(all_indicators, columns=['indicator'])
indicator_list.index.name = 'id'

country_list = pd.DataFrame(all_countries, columns=['country'])
country_list.index.name = 'id'

date_list = pd.DataFrame(all_dates, columns=['date'])
date_list.index.name = 'id'

log2.columns = ['indicator_id','country_id','date_id','value']
log2.index.name = 'id'

In [98]:
indicator_list.to_sql('indicators',engine, if_exists='append')
country_list.to_sql('countries',engine, if_exists='append')
date_list.to_sql('dates',engine, if_exists='append')
log2.to_sql('maindata',engine, if_exists='append')