In [17]:
from sqlalchemy import create_engine, MetaData, Table, select
import pandas as pd
db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)
print(db.table_names())
print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'film', 'customer', 'inventory']
['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'film', 'customer', 'inventory']

In [31]:
table_name = 'category'
metadata = MetaData()
table = Table(table_name, metadata , autoload=True, autoload_with=db)
stmt = select([table])
results = db.execute(stmt).fetchall()
cat_df = pd.DataFrame(results)
print("Number of categories: ")
cat_df[1].size

Number of categories:

16

In [32]:
results = db.execute(stmt).fetchmany(size=2)
print(results)

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))]

In [43]:
table_name = 'film'
metadata = MetaData()
table = Table(table_name, metadata , autoload=True, autoload_with=db)
stmt = select([table])
results = db.execute(stmt).fetchall()
film_df = pd.DataFrame(results)
film_df.columns = results[0].keys()
film_df.sort_values(by='release_year')
film_df.iloc[:1]

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...

In [46]:
film_df.sort_values(by='release_year', ascending=False)
film_df.iloc[:1]

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...

In [55]:
table_name = 'actor'
metadata = MetaData()
table = Table(table_name, metadata , autoload=True, autoload_with=db)
stmt = select([table])
stmt1 = stmt.where(table.columns.first_name == ("Olympia"))
results = db.execute(stmt1).fetchall()
for result in results:
   print(result.actor_id, result.first_name, result.last_name)
                   
stmt2 = stmt.where(table.columns.first_name == ("Julia"))
results = db.execute(stmt2).fetchall()
for result in results:
   print(result.actor_id, result.first_name, result.last_name)
                                      
stmt3 = stmt.where(table.columns.first_name == ("Ellen"))
results = db.execute(stmt3).fetchall()
for result in results:
   print(result.actor_id, result.first_name, result.last_name)

171 Olympia Pfeiffer
27 Julia Mcqueen
47 Julia Barrymore
186 Julia Zellweger
199 Julia Fawcett
93 Ellen Presley