In [81]:
import pandas as pd
log1 = pd.read_csv("ebola_2014_2016_clean.csv")

log2 = pd.read_csv("ebola_data_db_format.csv")
print(log2)

                                               Indicator  \
0      Cumulative number of confirmed, probable and s...
1             Cumulative number of confirmed Ebola cases
2              Cumulative number of probable Ebola cases
3             Cumulative number of suspected Ebola cases
4      Cumulative number of confirmed, probable and s...
...                                                  ...
17580  Cumulative number of confirmed, probable and s...
17581        Cumulative number of confirmed Ebola deaths
17582         Cumulative number of probable Ebola deaths
17583        Cumulative number of suspected Ebola deaths
17584  Cumulative number of confirmed, probable and s...

                        Country        Date   value
0                        Guinea  2015-03-10  3285.0
1                        Guinea  2015-03-10  2871.0
2                        Guinea  2015-03-10   392.0
3                        Guinea  2015-03-10    22.0
4                        Guinea  2015-03-10  2170.0
...                         ...         ...     ...
17580                     Spain  2016-03-23     0.0
17581  United States of America  2016-03-23     1.0
17582  United States of America  2016-03-23     0.0
17583  United States of America  2016-03-23     0.0
17584  United States of America  2016-03-23     1.0

[17585 rows x 4 columns]

In [112]:
from sqlalchemy import Column, Integer, String, Date, Text, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
Base = declarative_base()

from sqlalchemy import create_engine

db_string = "postgres://postgres:1111aaaa@localhost:5432/AdvancedDatabases_lab3"

engine = create_engine(db_string)

In [113]:
#Create new tables in database

class Country(Base):
    __tablename__ = 'Country'
    __table_args__ = {'extend_existing': True}
    country_id = Column(Integer, primary_key=True)
    country_name = Column(String(50))
    
    def __repr__(self):
        return "<Country(country_id='{0}', country_name={1})>".format(self.country_id, self.country_name)
    
class Indicator(Base):
    __tablename__ = 'Indicator'
    __table_args__ = {'extend_existing': True}
    indicator_id = Column(Integer, primary_key=True)
    indicator_name = Column(Text)  

    def __repr__(self):
        return "<Indicator(indicator_id='{0}', indicator_name={1})>".format(self.indicator_id, self.indicator_name)
    
class Date(Base):
    __tablename__ = 'Date'
    __table_args__ = {'extend_existing': True}
    date_id = Column(Integer, primary_key=True)
    date = Column(Date) 

    def __repr__(self):
        return "<Date(date_id='{0}', date={1})>".format(self.date_id, self.date)

In [114]:
#Create main table
class MainData(Base):
    __tablename__ = 'MainData'
    __table_args__ = {'extend_existing': True}
    ID = Column(Integer, primary_key=True)
    Indicator = Column(Integer, ForeignKey('Indicator.indicator_id'))
    Country = Column(Integer, ForeignKey('Country.country_id'))
    Date = Column(Integer, ForeignKey('Date.date_id'))
    Value = Column(Integer)
    def __repr__(self):
        return "<MainData(ID='{0}', Indicator='{1}', Country='{2}', Date='{3}', Value='{4}')>".format(self.ID, self.Indicator, self.Country, self.Date, self.Value)

In [158]:
Base.metadata.create_all(engine)

from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

In [116]:
country_key = list()
a = 1
unique_country = log2.Country.unique()
for temp in unique_country:
    temp_country = Country(country_name=temp)
    session.add(temp_country)
    country_key.append(a)
    a=a+1
session.commit()

In [119]:
indicator_key = list()
a = 1
unique_indicator = log2.Indicator.unique()
for temp in unique_indicator:
    temp_indi = Indicator(indicator_name=temp)
    session.add(temp_indi)
    indicator_key.append(a)
    a=a+1
session.commit()

In [121]:
date_key = list()
a = 1
unique_date = log2.Date.unique()
for temp in unique_date:
    temp_date = Date(date=temp)
    session.add(temp_date)
    date_key.append(a)
    a=a+1
session.commit()

In [159]:
MainTable_df = pd.DataFrame(columns=["Indicator","Country", "Date", "value"])
ii=0
for ind in log2.index:

    i = 1
    for indi in unique_indicator:
        if indi == log2['Indicator'][ind]:
            tempIndi = i
        i=i+1
    i=1
    for count in unique_country:
        if count == log2['Country'][ind]:
            tempCount = i
        i=i+1
    i=1
    for dat in unique_date:
        if dat == log2['Date'][ind]:
            tempDat = i
        i=i+1
    temp_record = MainData(Indicator = tempIndi, Country= tempCount, Date = tempDat, Value = log2['value'][ind])
    #temp_df = pd.DataFrame({"Indicator":tempIndi, "Country":tempCount, "Date" : tempDat, "value":log2['value'][ind]})
    MainTable_df.loc[ii] = [tempIndi, tempCount, tempDat, log2['value'][ind]]
    ii=ii+1
    #MainTable_df.append(temp_df)
    session.add(temp_record)
session.commit()
session.close()

In [151]:
print("Country Table:")
for a in country_key:
    print(("'{0}'  '{1}'").format(country_key[a-1], unique_country[a-1]))
    
print("\n Indicator Table:")    
for a in indicator_key:
    print(("'{0}'  '{1}'").format(indicator_key[a-1], unique_indicator[a-1]))
    
print("\n Date Table:")    
for a in date_key:
    print(("'{0}'  '{1}'").format(date_key[a-1], unique_date[a-1]))

Country Table:
'1'  'Guinea'
'2'  'Liberia'
'3'  'Sierra Leone'
'4'  'United Kingdom'
'5'  'Mali'
'6'  'Nigeria'
'7'  'Senegal'
'8'  'Spain'
'9'  'United States of America'
'10'  'Italy'
'11'  'Liberia 2'
'12'  'Guinea 2'

 Indicator Table:
'1'  'Cumulative number of confirmed, probable and suspected Ebola cases'
'2'  'Cumulative number of confirmed Ebola cases'
'3'  'Cumulative number of probable Ebola cases'
'4'  'Cumulative number of suspected Ebola cases'
'5'  'Cumulative number of confirmed, probable and suspected Ebola deaths'
'6'  'Cumulative number of confirmed Ebola deaths'
'7'  'Cumulative number of probable Ebola deaths'
'8'  'Cumulative number of suspected Ebola deaths'
'9'  'Number of confirmed Ebola cases in the last 21 days'
'10'  'Number of confirmed, probable and suspected Ebola cases in the last 21 days'
'11'  'Number of probable Ebola cases in the last 21 days'
'12'  'Number of confirmed Ebola cases in the last 7 days'
'13'  'Number of probable Ebola cases in the last 7 days'
'14'  'Number of suspected Ebola cases in the last 7 days'
'15'  'Number of confirmed, probable and suspected Ebola cases in the last 7 days'
'16'  'Proportion of confirmed Ebola cases that are from the last 7 days'
'17'  'Proportion of probable Ebola cases that are from the last 7 days'
'18'  'Proportion of suspected Ebola cases that are from the last 7 days'
'19'  'Proportion of confirmed, probable and suspected Ebola cases that are from the last 7 days'
'20'  'Number of suspected Ebola cases in the last 21 days'
'21'  'Proportion of confirmed Ebola cases that are from the last 21 days'
'22'  'Proportion of probable Ebola cases that are from the last 21 days'
'23'  'Proportion of suspected Ebola cases that are from the last 21 days'
'24'  'Proportion of confirmed, probable and suspected Ebola cases that are from the last 21 days'
'25'  'Case fatality rate (CFR) of confirmed Ebola cases'
'26'  'Case fatality rate (CFR) of probable Ebola cases'
'27'  'Case fatality rate (CFR) of suspected Ebola cases'
'28'  'Case fatality rate (CFR) of confirmed, probable and suspected Ebola cases'
'29'  'Number of confirmed Ebola deaths in the last 21 days'
'30'  'Number of probable Ebola deaths in the last 21 days'
'31'  'Number of suspected Ebola deaths in the last 21 days'
'32'  'Number of confirmed, probable and suspected Ebola deaths in the last 21 days'
'33'  'Proportion of confirmed Ebola deaths that are from the last 21 days'
'34'  'Proportion of probable Ebola deaths that are from the last 21 days'
'35'  'Proportion of suspected Ebola deaths that are from the last 21 days'
'36'  'Proportion of confirmed, probable and suspected Ebola deaths that are from the last 21 days'

 Date Table:
'1'  '2015-03-10'
'2'  '2015-03-06'
'3'  '2015-03-05'
'4'  '2015-03-04'
'5'  '2015-03-02'
'6'  '2015-02-27'
'7'  '2015-02-26'
'8'  '2015-02-25'
'9'  '2015-02-23'
'10'  '2015-02-20'
'11'  '2015-02-19'
'12'  '2015-02-18'
'13'  '2015-02-17'
'14'  '2015-02-16'
'15'  '2015-02-13'
'16'  '2015-02-12'
'17'  '2015-02-11'
'18'  '2015-02-10'
'19'  '2015-02-06'
'20'  '2015-02-05'
'21'  '2015-02-04'
'22'  '2015-02-03'
'23'  '2015-02-02'
'24'  '2015-01-30'
'25'  '2015-01-29'
'26'  '2015-01-28'
'27'  '2015-01-27'
'28'  '2015-01-26'
'29'  '2015-01-23'
'30'  '2015-01-22'
'31'  '2015-01-21'
'32'  '2015-01-20'
'33'  '2015-01-19'
'34'  '2015-01-16'
'35'  '2015-01-15'
'36'  '2015-01-14'
'37'  '2015-01-13'
'38'  '2015-01-12'
'39'  '2015-01-09'
'40'  '2015-01-08'
'41'  '2015-01-07'
'42'  '2015-01-06'
'43'  '2015-01-05'
'44'  '2015-01-02'
'45'  '2014-12-31'
'46'  '2014-12-30'
'47'  '2014-12-29'
'48'  '2014-12-26'
'49'  '2014-12-24'
'50'  '2014-12-23'
'51'  '2014-12-22'
'52'  '2014-12-17'
'53'  '2014-12-15'
'54'  '2014-12-10'
'55'  '2014-12-03'
'56'  '2014-12-01'
'57'  '2014-11-26'
'58'  '2014-11-21'
'59'  '2014-11-19'
'60'  '2014-11-14'
'61'  '2014-11-12'
'62'  '2014-11-07'
'63'  '2014-11-05'
'64'  '2014-10-31'
'65'  '2014-10-29'
'66'  '2014-10-25'
'67'  '2014-10-22'
'68'  '2014-10-17'
'69'  '2014-10-15'
'70'  '2014-10-10'
'71'  '2014-10-08'
'72'  '2014-10-03'
'73'  '2014-10-01'
'74'  '2014-09-26'
'75'  '2014-09-24'
'76'  '2014-09-22'
'77'  '2014-09-18'
'78'  '2014-09-16'
'79'  '2014-09-12'
'80'  '2014-09-08'
'81'  '2014-09-05'
'82'  '2014-08-29'
'83'  '2015-03-11'
'84'  '2015-03-12'
'85'  '2015-03-13'
'86'  '2015-03-16'
'87'  '2015-03-17'
'88'  '2015-03-18'
'89'  '2015-03-20'
'90'  '2015-03-23'
'91'  '2015-03-24'
'92'  '2015-03-25'
'93'  '2015-03-26'
'94'  '2015-03-27'
'95'  '2015-04-07'
'96'  '2015-04-09'
'97'  '2015-04-13'
'98'  '2015-04-14'
'99'  '2015-04-15'
'100'  '2015-04-16'
'101'  '2015-04-17'
'102'  '2015-04-20'
'103'  '2015-04-21'
'104'  '2015-04-22'
'105'  '2015-04-23'
'106'  '2015-04-24'
'107'  '2015-04-27'
'108'  '2015-04-28'
'109'  '2015-04-30'
'110'  '2015-05-01'
'111'  '2015-05-04'
'112'  '2015-05-05'
'113'  '2015-05-06'
'114'  '2015-05-07'
'115'  '2015-05-08'
'116'  '2015-05-11'
'117'  '2015-05-12'
'118'  '2015-05-13'
'119'  '2015-05-15'
'120'  '2015-05-14'
'121'  '2015-05-19'
'122'  '2015-05-18'
'123'  '2015-05-20'
'124'  '2015-05-21'
'125'  '2015-05-22'
'126'  '2015-05-26'
'127'  '2015-05-25'
'128'  '2015-05-27'
'129'  '2015-05-28'
'130'  '2015-05-29'
'131'  '2015-06-01'
'132'  '2015-06-02'
'133'  '2015-06-03'
'134'  '2015-06-04'
'135'  '2015-06-05'
'136'  '2015-06-08'
'137'  '2015-06-09'
'138'  '2015-06-10'
'139'  '2015-06-11'
'140'  '2015-06-12'
'141'  '2015-06-15'
'142'  '2015-06-16'
'143'  '2015-06-17'
'144'  '2015-06-18'
'145'  '2015-06-19'
'146'  '2015-06-22'
'147'  '2015-06-23'
'148'  '2015-06-24'
'149'  '2015-06-25'
'150'  '2015-06-26'
'151'  '2015-06-29'
'152'  '2015-06-30'
'153'  '2015-07-01'
'154'  '2015-07-02'
'155'  '2015-07-03'
'156'  '2015-07-06'
'157'  '2015-07-07'
'158'  '2015-07-08'
'159'  '2015-07-09'
'160'  '2015-07-10'
'161'  '2015-07-13'
'162'  '2015-07-14'
'163'  '2015-07-15'
'164'  '2015-07-16'
'165'  '2015-07-17'
'166'  '2015-07-20'
'167'  '2015-07-21'
'168'  '2015-07-22'
'169'  '2015-07-23'
'170'  '2015-07-24'
'171'  '2015-07-27'
'172'  '2015-07-28'
'173'  '2015-07-29'
'174'  '2015-07-30'
'175'  '2015-07-31'
'176'  '2015-08-03'
'177'  '2015-08-04'
'178'  '2015-08-05'
'179'  '2015-08-06'
'180'  '2015-08-07'
'181'  '2015-08-10'
'182'  '2015-08-11'
'183'  '2015-08-12'
'184'  '2015-08-13'
'185'  '2015-08-14'
'186'  '2015-08-17'
'187'  '2015-08-18'
'188'  '2015-08-19'
'189'  '2015-08-20'
'190'  '2015-08-21'
'191'  '2015-08-24'
'192'  '2015-08-25'
'193'  '2015-08-26'
'194'  '2015-08-27'
'195'  '2015-08-28'
'196'  '2015-08-31'
'197'  '2015-09-01'
'198'  '2015-09-02'
'199'  '2015-09-03'
'200'  '2015-09-04'
'201'  '2015-09-07'
'202'  '2015-09-08'
'203'  '2015-09-09'
'204'  '2015-09-10'
'205'  '2015-09-11'
'206'  '2015-09-14'
'207'  '2015-09-15'
'208'  '2015-09-16'
'209'  '2015-09-17'
'210'  '2015-09-18'
'211'  '2015-09-21'
'212'  '2015-09-22'
'213'  '2015-09-23'
'214'  '2015-09-24'
'215'  '2015-09-25'
'216'  '2015-09-28'
'217'  '2015-09-29'
'218'  '2015-09-30'
'219'  '2015-10-01'
'220'  '2015-10-02'
'221'  '2015-10-05'
'222'  '2015-10-06'
'223'  '2015-10-07'
'224'  '2015-10-08'
'225'  '2015-10-09'
'226'  '2015-10-13'
'227'  '2015-10-15'
'228'  '2015-10-16'
'229'  '2015-10-20'
'230'  '2015-10-22'
'231'  '2015-10-23'
'232'  '2015-10-26'
'233'  '2015-10-27'
'234'  '2015-10-29'
'235'  '2015-10-30'
'236'  '2015-11-03'
'237'  '2015-11-05'
'238'  '2015-11-06'
'239'  '2015-11-10'
'240'  '2015-11-11'
'241'  '2015-11-12'
'242'  '2015-11-16'
'243'  '2015-11-17'
'244'  '2015-11-20'
'245'  '2015-11-24'
'246'  '2015-11-26'
'247'  '2015-12-01'
'248'  '2015-12-02'
'249'  '2015-12-03'
'250'  '2015-12-09'
'251'  '2015-12-10'
'252'  '2015-12-11'
'253'  '2015-12-15'
'254'  '2015-12-16'
'255'  '2015-12-17'
'256'  '2015-12-22'
'257'  '2015-12-23'
'258'  '2015-12-29'
'259'  '2016-03-23'

In [160]:
print(MainTable_df)

       Indicator  Country   Date   value
0            1.0      1.0    1.0  3285.0
1            2.0      1.0    1.0  2871.0
2            3.0      1.0    1.0   392.0
3            4.0      1.0    1.0    22.0
4            5.0      1.0    1.0  2170.0
...          ...      ...    ...     ...
17580        5.0      8.0  259.0     0.0
17581        6.0      9.0  259.0     1.0
17582        7.0      9.0  259.0     0.0
17583        8.0      9.0  259.0     0.0
17584        5.0      9.0  259.0     1.0

[17585 rows x 4 columns]