In [1]:
from sqlalchemy import create_engine


db_string = "postgres://postgres:1111aaaa@localhost:5432/AdvancedDatabases_lab6"

engine = create_engine(db_string)

In [143]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy import select
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import or_, and_

metadata = MetaData()
session = (sessionmaker(bind=engine))()

Base = declarative_base()

class Category(Base):
    __tablename__ = 'category'
    category_id  = Column(Integer, primary_key=True)
    name = Column(String(50))
    last_update  = Column(Date)
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,self.name,self.last_update)
    
class Film(Base):
    __tablename__ = 'film'
    film_id  = Column(Integer, primary_key=True)
    title = Column(String(50))
    release_year  = Column(Integer)
    def __str__(self):
        return 'Film id:{0}\nFilm name: {1}\nFilm release_year: {2}'.format(self.film_id,self.title,self.release_year)
    
class Rental(Base):
    __tablename__ = 'rental'
    rental_id  = Column(Integer, primary_key=True)
    rental_date = Column(Date)
    return_date  = Column(Date)
    inventory_id = Column(Integer)
    def __str__(self):
        return 'Rental id:{0}\nStart date: {1}\nReturn date: {2}'.format(self.rental_id,self.rental_date,self.return_date) 
    
class Payment(Base):
    __tablename__ = 'payment'
    payment_id = Column(Integer, primary_key = True)
    amount = Column(Float)
    def __str__(self):
        return 'Payment id:{0}\nAmount: {1}'.format(self.payment_id,self.amount) 
    
class Customer(Base):
    __tablename__ = 'customer'
    customer_id = Column(Integer, primary_key = True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)
    
class Address(Base):
    __tablename__ = 'address'
    address_id = Column(Integer, primary_key = True)
    address = Column(String(50))
    city_id = Column(Integer)

class City(Base):
    __tablename__ = 'city'
    city_id = Column(Integer, primary_key = True)
    city = Column(String(50))
    country_id = Column(String(50))
    
class Country(Base):
    __tablename__ = 'country'
    country_id = Column(Integer, primary_key = True)
    country = Column(String(50))
    
class Staff(Base):
    __tablename__ = 'staff'
    staff_id = Column(Integer, primary_key = True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)
    
class FilmCategory(Base):
    __tablename__ = 'film_category'
    film_id = Column(Integer, primary_key = True)
    category_id = Column(Integer)
    
class Inventory(Base):
    __tablename__ = 'inventory'
    inventory_id = Column(Integer, primary_key = True)
    film_id = Column(Integer)
    store_id = Column(Integer)
    
class Store(Base):
    __tablename__ = 'store'
    store_id = Column(Integer, primary_key = True)
    address_id = Column(Integer)
    
class FilmActor(Base):
    __tablename__ = 'film_actor'
    actor_id = Column(Integer, primary_key = True)
    film_id = Column(Integer)
    
class Actor(Base):
    __tablename__ = 'actor'
    actor_id = Column(Integer, primary_key = True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    
dic_tablenames = {}
for table_name in engine.table_names():
    dic_tablenames[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)

print(dic_table.keys())

dict_keys(['actor', 'store', 'address', 'category', 'city', 'country', 'customer', 'film_actor', 'film_category', 'inventory', 'language', 'rental', 'staff', 'payment', 'film'])

In [159]:
#task1
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name])
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Category.name)
print("Session select execution time: ")
%timeit session_results = session_stmt.all()

print("Numer of categories:")
print(len(session_results))

Mapper select execution time:
632 µs ± 46.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Session select execution time:
479 µs ± 20.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Numer of categories:
16

In [160]:
#task2
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name)
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Category.name).order_by(Category.name)
print("Session select execution time: ")
%timeit session_results = session_stmt.all()

for rec in session_results:
    print(rec)

Mapper select execution time:
720 µs ± 50.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Session select execution time:
621 µs ± 35.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

In [ ]:
#task3
mapper_stmt = select([dic_table['film'].columns.title,dic_table['film'].columns.release_year]).order_by(dic_table['film'].columns.release_year).limit(1)
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Film.film_id, Film.title, Film.release_year).order_by(Film.release_year).limit(1)
print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Newest Film: ")
print(session_results)



mapper_stmt = select([dic_table['film'].columns.title,dic_table['film'].columns.release_year]).order_by(dic_table['film'].columns.release_year.desc()).limit(1)
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Film.film_id, Film.title, Film.release_year).order_by(Film.release_year.desc()).limit(1)
print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Oldest Film: ")
print(session_results)

In [162]:
#task4
mapper_stmt = select([dic_table['rental'].columns.rental_id,dic_table['rental'].columns.rental_date])\
                .where(and_(dic_table['rental'].columns.rental_date > '2005-07-01',dic_table['rental'].columns.rental_date < '2005-08-01'))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Rental.rental_id, Rental.rental_date, Rental.return_date)\
                .filter(and_(Rental.rental_date >= '2005-07-01', Rental.rental_date <= '2005-08-01'))
print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Number of rentals between 2005-07-01 and 2005-08-01: ")
print(len(session_results))

Mapper select execution time:
12.2 ms ± 670 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Session select execution time:
26.9 ms ± 3.11 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
Number of rentals between 2005-07-01 and 2005-08-01:
6709

In [163]:
#task5
mapper_stmt = select([dic_table['rental'].columns.rental_id,dic_table['rental'].columns.rental_date])\
                .where(and_(dic_table['rental'].columns.rental_date > '2010-01-01',dic_table['rental'].columns.rental_date < '2011-02-01'))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Rental.rental_id, Rental.rental_date, Rental.return_date)\
                .filter(and_(Rental.rental_date >= '2010-01-01', Rental.rental_date <= '2011-02-01'))
print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Number of rentals between 2010-01-01 and 2011-02-01: ")
print(len(session_results))

Mapper select execution time:
818 µs ± 35.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Session select execution time:
791 µs ± 42.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Number of rentals between 2010-01-01 and 2011-02-01:
0

In [164]:
#task6
mapper_stmt = select([dic_table['payment'].columns.payment_id,dic_table['payment'].columns.amount]).order_by(dic_table['payment'].columns.amount.desc()).limit(1)
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Payment.payment_id, Payment.amount).order_by(Payment.amount.desc()).limit(1)
print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Highest payment: ")
print(session_results)

Mapper select execution time:
4.8 ms ± 171 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Session select execution time:
4.83 ms ± 256 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Highest payment:
[(20403, 11.99)]

In [165]:
#task7
mapper_stmt = select([dic_table['customer'].columns.customer_id,dic_table['customer'].columns.first_name,dic_table['customer'].columns.last_name])\
                .where(dic_table['customer'].columns.address_id.in_(select([dic_table['address'].columns.address_id])\
                  .where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id])\
                    .where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id])\
                      .where(dic_table['country'].columns.country.in_(['Poland','Nigeria','Bangladesh']) )))))))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Customer.customer_id, Customer.first_name, Customer.last_name)\
                .filter(Customer.address_id.in_(session.query(Address.address_id)\
                    .filter(Address.city_id.in_(session.query(City.city_id)\
                        .filter(City.country_id.in_(session.query(Country.country_id)\
                            .filter(Country.country.in_(['Poland', 'Nigeria', 'Bangladesh']))))))))

print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Customers from Polend or Nigeria or Bangladesh: ")
for rec in session_results:
    print(rec)

Mapper select execution time:
2.17 ms ± 108 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Session select execution time:
1.89 ms ± 40.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Customers from Polend or Nigeria or Bangladesh:
(571, 'Johnnie', 'Chisholm')
(562, 'Wallace', 'Slone')
(156, 'Bertha', 'Ferguson')
(380, 'Russell', 'Brinson')
(21, 'Michelle', 'Clark')
(318, 'Brian', 'Wyman')
(280, 'Tracey', 'Barrett')
(332, 'Stephen', 'Qualls')
(501, 'Ruben', 'Geary')
(232, 'Constance', 'Reid')
(18, 'Carol', 'Garcia')
(198, 'Elsie', 'Kelley')
(284, 'Sonia', 'Gregory')
(270, 'Leah', 'Curtis')
(128, 'Marjorie', 'Tucker')
(409, 'Rodney', 'Moeller')
(286, 'Velma', 'Lucas')
(572, 'Sidney', 'Burleson')
(103, 'Gladys', 'Hamilton')
(329, 'Frank', 'Waggoner')
(80, 'Marilyn', 'Ross')
(558, 'Jimmie', 'Eggleston')
(250, 'Jo', 'Fowler')
(277, 'Olga', 'Jimenez')

In [173]:
#task8
mapper_stmt = select([dic_table['staff'].columns.first_name,dic_table['staff'].columns.last_name,dic_table['address'].columns.address])\
                .where(dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id)
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Staff.staff_id, Staff.first_name, Staff.last_name, Address.address)\
                .filter(Staff.address_id == Address.address_id)
print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Staff members live at: ")
for rec in session_results:
    print(rec)

Mapper select execution time:
832 µs ± 49.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Session select execution time:
833 µs ± 34.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Staff members live at:
(1, 'Mike', 'Hillyer', '23 Workhaven Lane')
(2, 'Jon', 'Stephens', '1411 Lillydale Drive')

In [167]:
#task9
mapper_stmt = select([dic_table['staff'].columns.staff_id,dic_table['staff'].columns.first_name,dic_table['staff'].columns.last_name])\
                .where(dic_table['staff'].columns.address_id.in_(select([dic_table['address'].columns.address_id])\
                  .where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id])\
                    .where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id])\
                      .where(dic_table['country'].columns.country.in_(['Argentina','Spain']) )))))))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Staff.staff_id)\
                .filter(Staff.address_id.in_(session.query(Address.address_id)\
                    .filter(Address.city_id.in_(session.query(City.city_id)\
                        .filter(City.country_id.in_(session.query(Country.country_id)\
                            .filter(Country.country.in_(['Argentina', 'Spain']))))))))

print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Number of staff members living in Argentina or Spain: ")
print(len(session_results))

Mapper select execution time:
1.51 ms ± 44.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Session select execution time:
1.35 ms ± 60.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Number of staff members living in Argentina or Spain:
0

In [170]:
#task10
mapper_stmt = select([dic_table['category'].columns.name])\
                .where(dic_table['category'].columns.category_id.in_(select([dic_table['film_category'].columns.category_id])\
                  .where(dic_table['film_category'].columns.film_id.in_(select([dic_table['inventory'].columns.film_id])\
                    .where(dic_table['inventory'].columns.inventory_id.in_(select([dic_table['rental'].columns.inventory_id])))))))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Category.name)\
                .filter(Category.category_id.in_(session.query(FilmCategory.category_id)\
                    .filter(FilmCategory.film_id.in_(session.query(Inventory.film_id)\
                        .filter(Inventory.inventory_id.in_(session.query(Rental.inventory_id)))))))

print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Film categories rented: ")
for rec in session_results:
    print(rec)

Mapper select execution time:
8.68 ms ± 427 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Session select execution time:
8.88 ms ± 792 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Film categories rented:
('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

In [171]:
#task11
mapper_stmt = select([dic_table['category'].columns.name])\
                .where(dic_table['category'].columns.category_id.in_(select([dic_table['film_category'].columns.category_id])\
                    .where(dic_table['film_category'].columns.film_id.in_(select([dic_table['inventory'].columns.film_id])\
                        .where(and_(dic_table['inventory'].columns.inventory_id.in_(select([dic_table['rental'].columns.inventory_id])), dic_table['inventory'].columns.store_id.in_(select([dic_table['store'].columns.store_id])\
                            .where(dic_table['store'].columns.address_id.in_(select([dic_table['address'].columns.address_id])\
                                .where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id])\
                                    .where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id])\
                                        .where(dic_table['country'].columns.country == 'America'))))))))))))))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Category.name)\
                .filter(Category.category_id.in_(session.query(Film_category.category_id)\
                    .filter(Film_category.film_id.in_(session.query(Inventory.film_id)\
                        .filter(and_(Inventory.inventory_id.in_(session.query(Rental.inventory_id)), Inventory.store_id.in_(session.query(Store.store_id)\
                            .filter(Store.address_id.in_(session.query(Address.address_id)\
                                .filter(Address.city_id.in_(session.query(City.city_id)\
                                    .filter(City.country_id.in_(session.query(Country.country_id)\
                                        .filter(Country.country == 'America'))))))))))))))

print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Film categories rented in USA: ")
for rec in session_results:
    print(rec)

Mapper select execution time:
3.31 ms ± 206 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Session select execution time:
3.01 ms ± 103 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Film categories rented in USA:

In [172]:
#task12
mapper_stmt = select([dic_table['film'].columns.title])\
                .where(dic_table['film'].columns.film_id.in_(select([dic_table['film_actor'].columns.film_id])\
                    .where(dic_table['film_actor'].columns.actor_id.in_(select([dic_table['actor'].columns.actor_id])\
                        .where(or_(and_(dic_table['actor'].columns.first_name == 'Olympia',dic_table['actor'].columns.last_name == 'Pfeiffer')\
                                ,and_(dic_table['actor'].columns.first_name == 'Julia',dic_table['actor'].columns.last_name == 'Zellweger')\
                                 ,and_(dic_table['actor'].columns.first_name == 'Ellen',dic_table['actor'].columns.last_name == 'Presley')))))))
print('Mapper select execution time: ')
%timeit mapper_results = engine.execute(mapper_stmt).fetchall()

session_stmt = session.query(Film.title)\
                .filter(Film.film_id.in_(session.query(FilmActor.film_id)\
                    .filter(FilmActor.actor_id.in_(session.query(Actor.actor_id)\
                        .filter(or_(and_(Actor.first_name == 'Olympia',Actor.last_name == 'Pfeiffer')\
                                   ,and_(Actor.first_name == 'Julia',Actor.last_name == 'Zellweger')\
                                   ,and_(Actor.first_name == 'Ellen',Actor.last_name == 'Presley')))))))

print("Session select execution time: ")
%timeit session_results = session_stmt.all()
session_results = session_stmt.all()

print("Films starring Olympia Pfeiffer or Julia Zellweger or Ellen Presley: ")
for rec in session_results:
    print(rec)

Mapper select execution time:
1.93 ms ± 173 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Session select execution time:
1.85 ms ± 82.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Films starring Olympia Pfeiffer or Julia Zellweger or Ellen Presley:
('Express Lonely',)
('Bilko Anonymous',)
('Effect Gladiator',)
('Contact Anonymous',)
('Others Soup',)
('Majestic Floats',)
('Chitty Lock',)
('Santa Paris',)
('Intolerable Intentions',)
('Psycho Shrunk',)
('Floats Garden',)
('Tadpole Park',)
('Idols Snatchers',)
('Hyde Doctor',)
('Divorce Shining',)
('Turn Star',)
('Deep Crusade',)
('Jacket Frisco',)
('Storm Happiness',)
('Won Dares',)
('Rider Caddyshack',)
('Mars Roman',)
('Pinocchio Simon',)
('Wait Cider',)
('Murder Antitrust',)
('Fugitive Maguire',)
('Casper Dragonfly',)
('Private Drop',)
('Jeopardy Encino',)
('Scarface Bang',)
('Women Dorado',)
('Frogmen Breaking',)
('Color Philadelphia',)
('Roots Remember',)
('Empire Malkovich',)
('Treasure Command',)
('Sweet Brotherhood',)
('Open African',)
('Titanic Boondock',)
('Streetcar Intentions',)
('Firehouse Vietnam',)
('Traffic Hobbit',)
('Caribbean Liberty',)
('Maude Mod',)
('Cranes Reservoir',)
('Ice Crossing',)
('Secretary Rouge',)
('Pickup Driving',)
('Dares Pluto',)
('Breakfast Goldfinger',)
('Minds Truman',)
('Microcosmos Paradise',)
('Image Princess',)
('Wyoming Storm',)
('Spy Mile',)
('Oscar Gold',)
('Outlaw Hanky',)
('Badman Dawn',)
('Lambs Cincinatti',)
('Network Peak',)
('Panky Submarine',)
('Hollow Jeopardy',)
('Sense Greek',)
('Magnolia Forrester',)
('Hanky October',)
('Tourist Pelican',)
('Detective Vision',)
('None Spiking',)
('Homeward Cider',)